@import 'variable';
@import '~assets/icomoon/style.css';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: $white;
}

* {
  line-height: 1;
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  border: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  outline: none;
}
