@import 'variable';
@import '~assets/icomoon/style.css';

html {
  overflow-x: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: $white;
}

* {
  line-height: 1;
}

input,
label,
select,
textarea,
li,
dl,
p,
h1,
h2,
h3,
h4 {
  font-feature-settings: 'palt', 1;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  outline: none;
  font: inherit;
  vertical-align: baseline;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  border: none;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  outline: none;

  &:active,
  &:focus {
    outline: none;
  }
}
